<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10 align-self-center">
            <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target=".bd-example-modal-lg">Create Merchant</button>
              <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="card">
      <div class="card-header card-header-danger">
          <h4 class="card-title">Create Merchant</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="card-body">
          <form>
              <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fist Name" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Last Name" type="text">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone Number" type="number">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Middle Name" type="text">
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field matInput appearance="fill" class="example-full-width">
                  <mat-label>Gender</mat-label>
                  <mat-select>
                    <mat-option matInput value="MALE">MALE</mat-option>
                    <mat-option matInput value="FEMALE">FEMALE</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field matInput appearance="fill" class="example-full-width">
                  <mat-label>User Type</mat-label>
                  <mat-select>
                    <mat-option matInput value="Affiliate">Affiliate</mat-option>
                    <mat-option matInput value="Merchant">Merchant</mat-option>
                  </mat-select>
                </mat-form-field>
              
              </div>
          </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Date of birth" type="date">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" type="email">
                </mat-form-field>
              </div>
          </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Website" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Business Name" type="number">
                  </mat-form-field>
                </div>
            </div>          
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
              <div class="clearfix"></div>
          </form>
      </div>
  </div>
  </div>
</div>
          </div>   
      </div> 
      
  </div>
  <div class="col-lg-8 col-md-12 mx-auto material-mg">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title ">List of Merchant</h4>
            <p class="card-category"></p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                            ID
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                          Last Name
                      </th>
                      <th>
                        Business Name
                    </th>
                    <th>
                      Email
                  </th>
                  <th>
                    Action
                </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Dakota Rice
                            </td>
                            <td>
                              Dakota Rice
                          </td>
                          <td>
                            Dakota Rice
                        </td>
                        <td>
                          Dakota Rice
                      </td>
                      <td>
                        <span class="material-icons" data-toggle="modal" data-target=".bd-example-modal-lg">
                          edit
                          </span>
                          <span class="material-icons">
                            delete
                            </span>
                      </td>
                      
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                Minerva Hooper
                            </td>
                            <td>
                              Minerva Hooper
                          </td>
                          <td>
                            Dakota Rice
                        </td>
                        <td>
                          Dakota Rice
                      </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                Sage Rodriguez
                            </td>
                            <td>
                              Sage Rodriguez
                          </td>
                          <td>
                            Dakota Rice
                        </td>
                        <td>
                          Dakota Rice
                      </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                Philip Chaney
                            </td>
                            <td>
                              Philip Chaney
                          </td>
                          <td>
                            Dakota Rice
                        </td>
                        <td>
                          Dakota Rice
                      </td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                            <td>
                                Doris Greene
                            </td>
                            <td>
                              Doris Greene
                          </td>
                          <td>
                            Dakota Rice
                        </td>
                        <td>
                          Dakota Rice
                      </td>
                        </tr>
                        <tr>
                            <td>
                                6
                            </td>
                            <td>
                                Mason Porter
                            </td>
                            <td>
                              Mason Porter
                          </td>
                          <td>
                            Dakota Rice
                        </td>
                        <td>
                          Dakota Rice
                      </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
